<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shiro.mapper.UserMapper" >

    <select id="findUserByUsername" parameterType="string" resultType="user">
        select u.id, u.username, u.password from user u where u.username = #{value}
    </select>

    <select id="findPermsByUserId" parameterType="int" resultType="string">
        select u.perms from user u where u.id = #{value}
    </select>

</mapper>